<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<% 
			var tableData = '';
			data.forEach(function(item){ 
			tableData += '<tr>';
			tableData += '<td>' + item.re_format + '</td>';
			tableData += '<td>' + item.visitor_name + '</td>';
			tableData += '<td>' + item.home_score + '</td>';
			tableData += '<td>' + item.visitor_score + '</td>';
			if (item.visitor_score > item.home_score)
				tableData += '<td>' + item.visitor_name + '</td>';
			else
				tableData += '<td>CU Buffs</td>';
			tableData += '</tr>'; 
			}); %>
		<%- tableData %> 
			
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> 	<% 
							var Wins = '';
							dataW.forEach(function(item){ 
							Wins += item.wins;
							}); %>
						<%- Wins %> 
				</td>
				<td> 	<% 
							var Loses = '';
							dataL.forEach(function(item){ 
							Loses += item.loses;
							}); %>
						<%- Loses %> 
				</td>
			</tr>
		</table>
		
	</div>
<% include ../partials/footer %>
